*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    word-spacing: 10px;
    margin: 30px;
}
big{
    text-transform: uppercase;
    color:#F1AD1D ;
}
input{
    width:35% ;
    height: 44px;
}
button{
    height: 50px;
    color: #ffff;
    background-color: #f1ad1d;
}
form div{
    margin-bottom: 20px;
}
label{
    width:15% ;
    display: inline-block;
}
div{
    margin: 60px;
}
b{
    height: px;
}
.header{
    background-image: url("./img/head_lo.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: -5px 0px !important;
    color: #ffff;
   

}
.niz{
    text-align: center;
    margin: 20px;
}

.header{
    overflow: 90%;
}

.rosette{
    margin: 100px;
    display: flex;
    border-bottom: solid 4px #F1AD1D;
}
.hea2{
    text-align: center  ;
}
.main{
    text-align: right;
  margin: 80px;
    
}

.main_logo{
    text-align: left;
    width: 120;
    height: 140;
}
.nen_log{
  text-align: left;
}
    .img_nen{
        text-align: center;
    }
    .img_main{
        text-align: center;

    }
    .sered{
        
            background-image: url("./img/seredqq.png");
           background-repeat: no-repeat;
           background-size: cover;
           min-height: 380px;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: space-evenly;
           padding: 0px;
           margin: -5px 0px !important;
           color: #ffff;
       padding: 5px;
    }
    .serd{
        text-align: center;
        margin: 50px;
    }
    .log_header{
        text-align: center;
    }
    .log_main{
        text-align: center;
    }
    .lini{
        border-bottom:  solid 3px #F1AD1D ;
        margin: 2%;
    }
    .strash{
    text-align: center;
    }
   
 .billbords_logo{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
 }
 .billboards{
     background-image: url("./img/glov.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: -5px 0px !important;
    color: #ffff;
 }
    .sill{
        text-align: center;
    }
    .zagol{
        text-align: center;
        margin: 50px;
    }
    .register{
        text-align: center;
    }
    .loginen{
        text-align: center;
    }
    .login{
      color: #ffff;
        background-color: #333333;
        width: 380px;
        height: 50px;
        margin: 30px;
    }
    .log_text{
        margin: 20px;
        text-align: left;
    }
    .button_reg{
      margin: 30px;    
    }
    .registration{
        text-align: left;
    }
    .hea_2{
        text-align: center;
        background-image: url("./img/head_2.png");
        background-repeat: no-repeat;
    background-size: cover;
    min-height: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: -5px 0px !important;
    color: #ffff;
    }
    .text_hea{
        text-align: center;
    }
    .hea_logo{
        text-align: center;
    }
    .gig_text{
        text-align: center;
    }
    .button_log{
        text-align: center;
    }
    .finish{
        text-align: center;
        background-image: url("./img/finish_log.png");
        background-repeat: no-repeat;
    background-size: cover;
    min-height: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px;
    margin: -5px 0px !important;
    color: #ffff;
    }
    .finish_text{
        text-align: center;
    }
    .card{
            height: 300px;
            background: rgb(73, 73, 73);
            background-size:cover ;
            background-repeat: no-repeat;
            transition: all 0.7s;
            position: relative;
    }
    .card:hover{
        transform: rotateY(180deg);

    }
    .row{
        display: flex;
        justify-content: space-evenly;
    }
    .card:hover .insider{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background: white;
        opacity: 1;
        transform: rotate(180);
    }
    .row>div:nth-child(1){
        background-image: url(./img/img_1.png);
    }
    .row>div:nth-child(2){
        background-image: url(./img/img_2.png);
    }
    .row>div:nth-child(3){
        background-image: url(./img/img_3.png);
    }
    .row>div:nth-child(4){
        background-image: url(./img/img_4.png);
    }
    .row>div:nth-child(5){
        background-image: url(./img/img_5.png);
    }
    .row>div:nth-child(6){
        background-image: url(./img/img_6.png);
    }
    .row>div:nth-child(7){
        background-image: url(./img/img_7.png);
    }
    .row>div:nth-child(8){
        background-image: url(./img/img_8.png);
    }
    .row>div:nth-child(9){
        background-image: url(./img/img_9.png);
    }
    .row>div:nth-child(10){
        background-image: url(./img/img_10.png);
    }
    .row>div:nth-child(11){
        background-image: url(./img/img_11.png);
    } 
    .row>div:nth-child(12){
        background-image: url(./img/img_11.png);
    }
    .posl{
        background-color: #333333;
        color: white;
        height: 50px;
    }
h1{
    text-transform: uppercase ;
   text-align: left;

}
h2{
    text-transform: uppercase;
     text-align: center;
}
h3{
   margin: 50px;
    text-transform: uppercase;
}
h4{
    text-transform: uppercase;
}
h5{
    text-transform: uppercase;
    text-align: center;
}
.ll{
    color: #F1B128;
}
.gg{
    color: #F1AD1D;
}
.kk{
    color: #F1AD1D;
    text-transform: uppercase;
}
.pp{
 text-transform: uppercase;
}
.uu{
    color: #F1B128;
}
.oo{
    color: #F1B128;
}
.mm{
    text-align: center;
}
.dd{
    color: #F1AD1D;
}
.xx{
    color: #F1B128; ;
}
.po{
    color: #F1B128;
}
.lo{
    color: #F1B128;
}
.gj{
    color: #F1B128;
    width:271px ;
    height: 56px;
}
.aa{
    color:#F1B128 ;
}
.lk{
    color:#F1B128;
}
.reg_2{
   margin: 20px;
}
.yu{
    color: #F1B128;
}
.gol{
    color:#F1B128 ;
}
.ol{
    color: #F1B128;
}
.lkj{
    color:#F1B128 ;
}
.io{
    color: #F1B128;
}
.nm{
    color: #F1B128;
}
.pi{
    color:#F1B128 ;
}
.pos{
    text-align: center;
   
}